/* style.css */

/* Resetowanie domyślnych styli */
body, ul {
    margin: 0;
    padding: 0;
  }
  
  /* Styl dla nawigacji */
  nav {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Styl dla zawartości strony */
  .content {
    padding: 20px;
  }
  
  /* Styl dla przycisków */
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  /* Styl dla formularza */
  form {
    margin-bottom: 20px;
  }
  
  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
  }
  
  /* Dodatkowe style lub dostosowania */
  /* ... */
  